<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Anyma Develpoment - Acerca De</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="Elevate your online presence with Crafto - a modern, versatile, multipurpose Bootstrap 5 responsive HTML5, SCSS template using highly creative 48+ ready demos.">
        <!-- favicon icon -->
        
        <%- include("header.ejs") %>
    </head>
    <body data-mobile-nav-style="classic" class="background-position-center-top" style="background-image: url(images/vertical-line-bg-small-medium-gray.svg)"> 
        <!-- start header -->
        <%- include("nav.ejs") %>

        <!-- end header -->
        <!-- start page title --> 
        <section class="p-0 top-space-margin page-title-center-alignment">
            <div class="container">
                <div class="row align-items-center justify-content-center extra-very-small-screen">
                    <div class="col-xl-8 col-lg-10 text-center position-relative page-title-extra-large" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1 class="fw-700 text-dark-gray mb-20px ls-minus-2px">Nosotros</h1>
                        <h2 class="fw-400 ls-0px mb-0">Agencia de Desarrollo Web, Soluciones Tecnicas & Diseño UX/UI y Marketing Digital</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row mb-7">
                    <div class="col-lg-5 md-mb-10px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="icon-with-text-style-08 mb-25px">
                            <div class="feature-box feature-box-left-icon-middle">
                                <div class="feature-box-icon feature-box-icon-rounded w-50px h-50px rounded-circle bg-base-color me-15px">
                                    <i class="bi bi-star-fill text-dark-gray"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="d-inline-block fs-15 lh-24 fw-700 text-dark-gray text-uppercase text-decoration-line-bottom">Calificacion de 5 Estrellas</span>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-dark-gray fw-600 ls-minus-2px">Soluciones Innovadoras para el Crecimiento de tu Marca</h3> 
                    </div>
                    <div class="col-lg-7" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fs-19 fw-600 text-dark-gray">Visión</div>
                            </div>
                            <div class="col-md-9 last-paragraph-no-margin">
                                <p>...</p>
                            </div>
                        </div>
                        <div class="separator-line-2px bg-dark-gray mt-35px mb-35px"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fs-19 fw-600 text-dark-gray">Misión</div>
                            </div>
                            <div class="col-md-9 last-paragraph-no-margin">
                                <p>Proporcionar soluciones innovadoras y de alta calidad que impulsen el éxito digital de nuestros clientes. Estamos comprometidos a ofrecer servicios personalizados, enfocados en la excelencia y la satisfacción del cliente.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 clients-style-06 justify-content-center" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <!-- start client item -->
                    <div class="col client-box text-center md-mb-40px">
                        <a href="#"><img src="images/logo-walmart-dark-gray.svg" class="h-35px" alt=""></a>
                    </div>
                    <!-- end client item -->
                    <!-- start client item -->
                    <div class="col client-box text-center md-mb-40px">
                        <a href="#"><img src="images/logo-invision-dark-gray.svg" class="h-40px" alt=""></a>
                    </div>
                    <!-- end client item -->
                    <!-- start client item -->
                    <div class="col client-box text-center md-mb-40px">
                        <a href="#"><img src="images/logo-netflix-dark-gray.svg" class="h-35px" alt=""></a>
                    </div>
                    <!-- end client item -->
                    <!-- start client item -->
                    <div class="col client-box text-center sm-mb-40px">
                        <a href="#"><img src="images/logo-logitech-dark-gray.svg" class="h-35px" alt=""></a>
                    </div> 
                    <!-- end client item -->
                    <!-- start client item -->
                    <div class="col client-box text-center">
                        <a href="#"><img src="images/logo-amazon-dark-gray.svg" class="h-35px" alt=""></a>
                    </div> 
                    <!-- end client item -->
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section 
        <section class="p-0">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-11 position-relative h-750px md-h-600px sm-h-350px border-radius-6px border border-color-transparent position-relative" data-parallax-background-ratio="0.5" style="background-image: url('https://via.placeholder.com/1920x1100');">  
                        <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="popup-youtube">
                            <div class="absolute-middle-center z-index-9">
                                <img src="images/demo-web-agency-03.png" class="animation-rotation" alt="">
                                <div class="absolute-middle-center w-100 z-index-minus-1"><img src="images/demo-web-agency-about-02.png" alt=""></div> 
                            </div>
                        </a>
                    </div> 
                </div> 
            </div>
        </section>-->
        <!-- end section -->
        <!-- start section -->
        <section class="pb-0 pt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 md-mb-30px" data-anime='{ "el": "childs", "translateX": [15, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="bg-dark-gray border-radius-100px fs-12 text-white ps-20px pe-20px d-inline-block text-uppercase fw-500 mb-5 ls-05px">Área de Foco</div>
                        <h3 class="text-dark-gray fw-600 ls-minus-2px">Queremos acercar los negocios y el mundo digital.</h3>
                        <p class="w-90 md-w-100">La excelencia es nuestro estándar. Nuestra pasión por nuestro trabajo se refleja en el impacto positivo que creamos para nuestros clientes.</p>
                        <a href="/proyectos" class="btn btn-large btn-expand-ltr text-dark-gray btn-rounded fw-700"><span class="bg-base-color"></span>Mira lo que hacemos</a>
                    </div>
                    <div class="col-xl-6 col-lg-7 offset-xl-1">
                        <div class="row row-cols-auto row-cols-sm-2" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay":300, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <!-- start features box item -->
                            <div class="col align-self-start">
                                <div class="feature-box text-start ps-30px">
                                    <div class="feature-box-icon position-absolute left-0px top-10px">
                                        <h1 class="fs-85 text-outline text-outline-width-1px text-outline-color-dark-gray fw-700 ls-minus-1px opacity-2 mb-0">01</h1>
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin pt-25 md-pt-17 sm-pt-40px">
                                        <span class="text-dark-gray fs-19 d-inline-block fw-600 mb-5px">Enfoque Holístico</span>
                                        <p>Consideramos todos los aspectos de tu presencia en línea para crear estrategias cohesivas y efectivas que impulsen el crecimiento de tu negocio.</p>
                                        <span class="w-40px h-3px bg-base-color d-inline-block"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col align-self-end mt-20 xs-mt-15px">
                                <div class="feature-box text-start ps-30px">
                                    <div class="feature-box-icon position-absolute left-0px top-10px">
                                        <h1 class="fs-85 text-outline text-outline-width-1px text-outline-color-dark-gray fw-700 ls-minus-1px opacity-2 mb-0">02</h1>
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin pt-25 md-pt-17 sm-pt-40px">
                                        <span class="text-dark-gray fs-19 d-inline-block fw-600 mb-5px">Personalización y Segmentación</span>
                                        <p>Creemos en la importancia de entender a tu audiencia y adaptar nuestras soluciones para satisfacer sus necesidades específicas.</p>
                                        <span class="w-40px h-3px bg-base-color d-inline-block"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col align-self-start mt-minus-12 xs-mt-15px">
                                <div class="feature-box text-start ps-30px">
                                    <div class="feature-box-icon position-absolute left-0px top-10px">
                                        <h1 class="fs-85 text-outline text-outline-width-1px text-outline-color-dark-gray fw-700 ls-minus-1px opacity-2 mb-0">03</h1>
                                    </div>
                                    <div class="feature-box-content last-paragraph-no-margin pt-25 md-pt-17 sm-pt-40px">
                                        <span class="text-dark-gray fs-19 d-inline-block fw-600 mb-5px">Optimización Continua</span>
                                        <p>Pilar fundamental en nuestro enfoque. Mejoramos constantemente tu presencia en línea mediante el análisis de datos y la implementación de mejoras.</p>
                                        <span class="w-40px h-3px bg-base-color d-inline-block"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                        </div>
                    </div>
                </div> 
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="overflow-hidden position-relative half-section">
            <div class="container-fluid">
                <div class="row position-relative">
                    <div class="col swiper swiper-width-auto text-center pb-30px sm-pb-20px" data-slider-options='{ "slidesPerView": "auto", "spaceBetween":60, "speed": 10000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "768": { "spaceBetween": 70 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper marquee-slide">
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-170 sm-fs-150 text-base-color fw-600 ls-minus-8px word-break-normal">desarrollo</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-170 sm-fs-150 text-dark-gray fw-600 ls-minus-8px word-break-normal">soluciones</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-170 sm-fs-150 text-base-color fw-600 ls-minus-8px word-break-normal">diseño</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-170 sm-fs-150 text-dark-gray fw-600 ls-minus-8px word-break-normal">eCommerce</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-170 sm-fs-150 text-base-color fw-600 ls-minus-8px word-break-normal">landings</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-170 sm-fs-150 text-dark-gray fw-600 ls-minus-8px word-break-normal">advanced</div>
                            </div>
                            <!-- end client item --> 
                        </div> 
                    </div>  
                </div>
            </div> 
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="p-0">
            <div class="container">
                <div class="row mb-6 sm-mb-40px" data-anime='{"translateY": [0, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="col-lg-6 md-mb-25px">
                        <h3 class="mb-0 fw-600 text-dark-gray w-85 lg-w-100 ls-minus-2px">Creemos en el poder de la unidad y su impacto en el futuro.</h3>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <p class="w-95 md-w-100">Nos encanta ver como nuestro trabajo impacta positivamente a nuestros clientes. Con más de 4 años de experiencia hemos estado brindando excelente constantemente.</p>
                        <a href="/servicios" class="btn btn-medium btn-expand-ltr text-dark-gray btn-rounded fw-700"><span class="bg-base-color"></span>Conocé más</a>
                    </div>
                </div>
                <!--
                <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 transition-inner-all mb-6 lg-mb-5" data-anime='{ "el": "childs", "translateY": [-15, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="col team-style-08 border-radius-6px md-mb-30px mt-2 md-mt-0" data-bottom-top="transform: translateY(40px)" data-top-bottom="transform: translateY(-40px)">
                        <figure class="mb-0 position-relative overflow-hidden border-radius-6px">
                            <img src="https://via.placeholder.com/600x756" alt="" />
                            <figcaption class="w-100 h-100 d-flex align-items-end p-13 lg-p-8 md-p-13 sm-p-10 bg-gradient-gray-light-dark-transparent border-radius-6px">
                                <div class="w-100">
                                    <span class="team-member-name fw-500 alt-font text-white d-block">Jeremy dupont</span>
                                    <span class="member-designation fs-15 lh-20 text-white d-block">Director</span>
                                </div>
                                <div class="social-icon d-flex flex-column flex-shrink-1">
                                    <a href="https://www.twitter.com/" target="_blank" class="text-dark-gray"><i class="fa-brands fa-twitter icon-small"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                  
                    <div class="col team-style-08 border-radius-6px md-mb-30px" data-bottom-top="transform: translateY(-40px)" data-top-bottom="transform: translateY(40px)">
                        <figure class="mb-0 position-relative overflow-hidden border-radius-6px">
                            <img src="https://via.placeholder.com/600x756" alt="" />
                            <figcaption class="w-100 h-100 d-flex align-items-end p-13 lg-p-8 md-p-13 sm-p-10 bg-gradient-gray-light-dark-transparent border-radius-6px">
                                <div class="w-100">
                                    <span class="team-member-name fw-500 alt-font text-white d-block">Jessica dover</span>
                                    <span class="member-designation fs-15 lh-20 text-white d-block">Founder</span>
                                </div>
                                <div class="social-icon d-flex flex-column flex-shrink-1">
                                    <a href="https://www.linkedin.com/" target="_blank" class="text-dark-gray"><i class="fa-brands fa-linkedin-in icon-small"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                 
                    <div class="col team-style-08 border-radius-6px xs-mb-30px mt-2 md-mt-0" data-bottom-top="transform: translateY(40px)" data-top-bottom="transform: translateY(-40px)">
                        <figure class="mb-0 position-relative overflow-hidden border-radius-6px">
                            <img src="https://via.placeholder.com/600x756" alt="" />
                            <figcaption class="w-100 h-100 d-flex align-items-end p-13 lg-p-8 md-p-13 sm-p-10 bg-gradient-gray-light-dark-transparent border-radius-6px">
                                <div class="w-100">
                                    <span class="team-member-name fw-500 alt-font text-white d-block">Matthew taylor</span>
                                    <span class="member-designation fs-15 lh-20 text-white d-block">Manager</span>
                                </div>
                                <div class="social-icon d-flex flex-column flex-shrink-1">
                                    <a href="https://www.behance.net/" target="_blank" class="text-dark-gray"><i class="fa-brands fa-behance icon-small"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="col team-style-08 border-radius-6px" data-bottom-top="transform: translateY(-40px)" data-top-bottom="transform: translateY(40px)">
                        <figure class="mb-0 position-relative overflow-hidden border-radius-6px">
                            <img src="https://via.placeholder.com/600x756" alt="" />
                            <figcaption class="w-100 h-100 d-flex align-items-end p-13 lg-p-8 md-p-13 sm-p-10 bg-gradient-gray-light-dark-transparent border-radius-6px">
                                <div class="w-100">
                                    <span class="team-member-name fw-500 alt-font text-white d-block">Johncy parker</span>
                                    <span class="member-designation fs-15 lh-20 text-white d-block">Manager</span>
                                </div>
                                <div class="social-icon d-flex flex-column flex-shrink-1">
                                    <a href="https://www.facebook.com/" target="_blank" class="text-dark-gray"><i class="fa-brands fa-facebook-f icon-small"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                      
                </div>
            -->
                <div class="row mx-0 justify-content-center" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 200, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col-auto text-center last-paragraph-no-margin bg-dark-gray pt-15px pb-15px ps-8 pe-8 border-radius-100px">
                        <div class="d-inline-block align-middle me-5px text-base-color">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <div class="d-inline-block align-middle text-white sm-lh-24"><a href="/contacto" class="text-white fw-500 text-decoration-line-bottom">Contactanos</a></div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section --> 
        <section class="p-0 mt-50px">
            <div class="container-fluid pe-45px ps-45px">
                <div class="row g-0">
                    <div class="col-12 skrollr-parallax mx-auto p-8 position-relative" data-bottom-top="width: 100%" data-center-top="width: 100%;" data-parallax-background-ratio="0.5" style="background-image: url(https://via.placeholder.com/1920x1100)" data-anime='{ "el": "childs", "translateY": [15, 0], "translateX": [15, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="bg-white box-shadow-quadruple-large position-relative border-radius-4px w-400px xs-w-100 overflow-hidden z-index-1 float-end">
                            <div class="p-50px lg-p-30px last-paragraph-no-margin text-center">
                                <img src="https://via.placeholder.com/130x130" class="w-85px mb-30px" alt=""/> 
                                <span class="fs-20 ls-minus-05px alt-font text-dark-gray fw-600 mb-10px d-block">Diseño de Calidad</span>
                                <p class="w-95 lg-w-100">En nuestro enfoque, el diseño de calidad va más allá de lo visual, abarcando la funcionalidad, la experiencia del usuario y el impacto en los objetivos comerciales. Nos esforzamos por crear experiencias en línea que cautiven, inspiren y conviertan.</p>
                            </div>
                            <div class="bg-dark-gray p-15px xs-p-10px text-center">
                                <a href="contacto" class="fs-14 xs-fs-12 ls-minus-05px text-white text-white-hover text-uppercase fw-500"><i class="feather icon-feather-mail fs-20 me-10px align-middle"></i>Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section --> 
        <!-- start section -->
        <section class="pb-4 sm-pt-30px sm-pb-40px overflow-hidden position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center text-sm-start">
                        <div class="outside-box-left-25 xl-outside-box-left-10 sm-outside-box-left-0">
                            <div class="fs-350 xl-fs-250 lg-fs-200 md-fs-170 sm-fs-100 text-dark-gray fw-600 ls-minus-20px word-break-normal">anyma</div>
                        </div>
                    </div>
                    <div class="col-sm-7 text-center text-sm-end">
                        <div class="outside-box-right-5 sm-outside-box-right-0">
                            <div class="fs-350 xl-fs-250 lg-fs-200 md-fs-170 sm-fs-100 text-base-color fw-600 ls-minus-20px position-relative d-inline-block word-break-normal">dev
                                <div class="position-absolute left-minus-140px top-minus-140px z-index-9 xl-left-minus-110px top-minus-140px xl-top-minus-100px md-top-minus-90px z-index-9 xl-w-230px md-w-200px d-none d-md-block" data-anime='{ "translateY": [-15, 0], "scale": [0.5, 1], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                    <img src="images/demo-web-agency-05.png" class="animation-rotation" alt="">
                                    <div class="absolute-middle-center w-100 z-index-minus-1"><img src="images/demo-web-agency-04.png" alt=""></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start footer -->
        <%- include("footer.ejs") %>
    </body>
</html>