<footer class="p-0">
    <div class="container">
        <div class="row align-items-center mb-4 sm-mb-6">
            
            <div class="col-md-2 col-sm-4 text-center text-sm-end">
                <a href="/" class="footer-logo d-inline-block"><img src="images/logo.png" data-at2x="images/logo.png" alt=""></a>
            </div>
        </div> 
        <div class="row align-items-end mb-6 sm-mb-40px"> 
            <!-- start footer column -->
            <div class="col-lg-3 col-sm-4 text-center text-sm-start xs-mb-25px last-paragraph-no-margin">
                <span class="d-block text-dark-gray ls-minus-05px mb-5px fw-600 fs-26">Email</span>
                <p class="w-80 lg-w-100 text-medium-gray fs-18 lh-28">info@zyntra.dev</p>
            </div>
            <!-- end footer column -->  
            <!-- start footer column -->
            <div class="col-lg-3 col-sm-4 text-center text-sm-start xs-mb-25px last-paragraph-no-margin">
                <span class="d-block text-dark-gray ls-minus-05px mb-5px fw-600 fs-26">Whatsapp</span>
                <p class="w-80 lg-w-100 text-medium-gray fs-18 lh-28" >+54 9 11 1111 1111</p>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
           
            <!-- end footer column -->
        </div>
    </div> 
    <div class="footer-bottom pt-25px pb-25px border-top border-color-charcoal-grey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 text-center text-lg-start md-mb-10px"> 
                    <ul class="footer-navbar fw-600 fs-16"> 
                        <li class="nav-item active"><a href="/" class="nav-link">Inicio</a></li>
                        <li class="nav-item"><a href="/acerca" class="nav-link">Acerca De</a></li>
                        <li class="nav-item"><a href="/servicios" class="nav-link">Servicios</a></li>
                        <li class="nav-item"><a href="/proyectos" class="nav-link">Proyecto</a></li>
                        <!--
                        <li class="nav-item"><a href="/reseñas" class="nav-link">People</a></li> 
                        -->
                        <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>  
                        <li class="nav-item"><a href="/contacto" class="nav-link">Contacto</a></li>
                    </ul>
                </div>   
                <div class="col-lg-5 text-center text-lg-end"> 
                    <span class="fs-15">&copy; 2024 <a href="/" class="text-decoration-line-bottom text-dark-gray text-dark-gray-hover fw-500" target="_blank">Zyntra Development LLC</a> <br>Todos los derechos reservados</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- start subscription popup 
<div id="subscribe-popup" class="mfp-hide subscribe-popup">
    <div class="container">
        <div class="row newsletter-popup position-relative justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 text-center p-45px pt-55px pb-55px xs-p-30px xs-pt-30px xs-pb-30px position-relative box-shadow-quadruple-large bg-white border-radius-8px">
                <div class="fs-14 text-uppercase text-dark-gray fw-600 d-block d-sm-flex align-items-center justify-content-center mb-5px">
                    <div class="me-5px xs-ms-10px d-inline-block align-middle text-red"><i class="bi bi-heart-fill"></i></div> 
                    <div class="d-inline-block align-middle">Around the globe</div>
                </div>
                <h4 class="d-inline-block alt-font fw-500 ls-minus-1px text-dark-gray mb-40px sm-mb-25px">More than the <span class="fw-700">25k+</span> companies trusting crafto</h4>
                <a href="#" class="btn btn-large btn-base-color text-dark-gray btn-rounded btn-box-shadow mb-40px sm-mb-25px">Sign up for free</a>
                <img src="https://via.placeholder.com/336x268" alt="">
                <button title="Close (Esc)" type="button" class="mfp-close text-dark-gray"></button>
            </div>
        </div>
    </div>
</div> -->
<!-- end subscription popup -->
<!-- start sticky elements 
<div class="sticky-wrap z-index-1 d-none d-xl-inline-block" data-animation-delay="100" data-shadow-animation="true">
    <div class="elements-social social-icon-style-10">
        <ul class="small-icon dark fw-600">
            <li class="fs-18">Follow us <span class="separator-line-1px w-30px bg-dark-gray d-inline-block align-middle ms-15px"></span></li>
            <li><a class="facebook" href="https://www.facebook.com/" target="_blank">Fb.</a> </li> 
            <li><a class="dribbble" href="http://www.dribbble.com" target="_blank">Dr.</a></li>
            <li><a class="twitter" href="http://www.twitter.com" target="_blank">Tw.</a></li> 
            <li><a class="behance" href="http://www.behance.com/" target="_blank">Be.</a> </li> 
        </ul>
    </div>
</div>-->
<!-- end sticky elements -->
<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
    <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Volver al comienzo</span><span class="scroll-line"><span class="scroll-point"></span></span>
    </a>
</div>
<!-- end scroll progress -->
<!-- javascript libraries -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/vendors.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script> 